<!DOCTYPE html>
<html>
<head>
  <title>File Share</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<style> body {
  font-family: 'Poppins', sans-serif;
 </style>
<body>

  <% if (fileLink) { %>
    <p>Your file is uploaded</p>
    <p><a href="<%= fileLink %>"><%= fileLink %></a></p>
  <% } %>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <p>
      <label>File:</label><br>
      <input type="file" name="file" required>
    </p>

    <p>
      <label>Password:</label><br>
      <input type="password" name="password">
    </p>

    <p>
      <button type="submit">Upload</button>
    </p>
  </form>
 <footer
        style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); padding: 8px 16px; font-family: Arial, sans-serif; font-size: 14px; z-index: 1000;">
        Created by <a href="http://www.sinzn.fun/" style="text-decoration: none; color: #0366d6;"> Shivam Singh </a> |
        Source available on
        <a href="https://github.com/sinzn" target="_blank" style="text-decoration: none; color: #0366d6;">GitHub</a>.
    </footer>

</body>
</html>
